
@{
    ViewBag.Title = "Lista de  Emails";
}

<h2>ViewEmail</h2>

<table class="table-striped">
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in @ViewBag.listaEmails)
            {
            <tr>
                <td>@email.Nome</td>
                <td>@email.Email</td>
                <td>
                    <div class="btn" onclick="window.location='@Url.Action("Edit", new { ID = email.Id })'" value="Edit">Update</div>
                </td>
                <td>
                    <div class="btn" onclick="window.location='@Url.Action("Delete", new { ID = email.Id })'" value="Delete">Delete</div>
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <div class="btn btn-default">
        <a href="@Url.Action("New","CRUD")">
            Criar Novo
        </a> 
    </div>
</div>

